:root {
    --color_gray_1: #ffffff;
    --color_gray_2: #cccccc;
    --color_gray_3: #e6e6e6;
    --color_gray_4: #888888;
    --color_gray_5: #666666;

    --color_bg: var(--color_gray_1);
    --color_delimiter: var(--color_gray_3);
    --color_primary_text: var(--color_gray_5);
    --color_secondary_text: var(--color_gray_4);

    --font_size_small: 14px;
    --font_size_normal: 24px;
    --font_size_large: 100px;
}