.actions-bar {
  justify-content: space-between;
  border-top: 1px #e6e6e6 solid;
  box-sizing: border-box;
  align-items: center;
  padding: 3px 12px;
  margin-top: -1px;
  position: sticky;
  background: #fff;
  font-size: 14px;
  display: flex;
  height: 40px;
  color: #888;
  bottom: 0;
}
