.actions-bar {
  justify-content: space-between;
  border-top: 1px var(--color_delimiter) solid;
  box-sizing: border-box;
  align-items: center;
  padding: 3px 12px;
  margin-top: -1px;
  position: sticky;
  background: var(--color_bg);
  font-size: var(--font_size_small);
  display: flex;
  height: 40px;
  color: var(--color_secondary_text);
  bottom: 0;
}
