.task-item {
  border-bottom: 1px var(--color_delimiter) solid;
  box-sizing: border-box;
}

.task-item__view {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 59px;
  overflow: hidden;

  &:hover {
    background-color: #fafafa;
  }
}

.task-item__status-input {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0 0 0 -30px;
}

.task-item__status-icon {
  border: 1px var(--color_opacity) solid;
  box-sizing: border-box;
  background-color: var(--color_bg);
  border-radius: 50%;
  flex-shrink: 0;
  margin: 0 12px;
  height: 38px;
  width: 38px;
}

.task-item__status-input:checked + .task-item__status-icon {
  background-image: url("../img/complete.svg");
  background-position: 6px 8px;
  background-repeat: no-repeat;
  border-color: #5dc2af;
}

.task-item__status-input:focus + .task-item__status-icon {
  border-color: var(--color_opacity);
}

.task-item__view:hover,
.task-item__status-input:not(:checked),
+ .task-item__status-icon {
  border-color: var(--color_opacity);
}

.task-item__text {
  word-break: break-word;
  padding: 12px 0;
  font-size: var(--font_size_normal);
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.task-item__delete {
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  margin: -9999px 4px 0 12px;
  background-position: 50%;
  text-indent: -9999px;
  flex-shrink: 0;
  height: 36px;
  width: 36px;
}

.task-item__delete:focus,
.task-item__view:hover .task-item__delete {
  margin-top: 0;
}

.task-item__status-input:checked ~ .task-item__text {
  color: var(--color_opacity);
  text-decoration-line: line-through;
}

.task-item__edit {
  padding-left: 56px;
}

.task-item__input {
  box-sizing: border-box;
  font-size: var(--font_size_normal);
  height: 59px;
  width: 100%;
}
