.todo-app {
  position: relative;
  max-width: 560px;
  min-width: 460px;
  margin: 0 auto 20px;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
    height: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 4px;
    right: 4px;
    height: 10px;
    z-index: -2;
    @include shadow;
  }
}

.todo-app__frame {
  @include shadow;
}
